.property-list {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.property-list-item {
    flex: 1;
    cursor: pointer;
}

.property-list-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.property-list-titles {
    color: var(--color-blue);
}
.property-list-titles>h1 {
    font-size: 18px;
}
.property-list-titles>h2 {
    font-size: 14px;
    font-weight: 300;
}