.reserve {
    width: 100vw;
    height: 100vh;
    background-color: rgba(115, 115, 115, 0.605);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserve__container {
    background-color: var(--color-beige);
    color: var(--color-blue);
    padding: 2rem;
    border-radius: 10px;
    position: relative;
}
.reserve-close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 25px;
}
.reserve-item {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
}
.reserve-button {
    margin-left: 20px;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--color-blue);
    background-color: var(--color-beige-light);
    font-weight: 500;
    border: 1px solid var(--color-blue);
    border-radius: 5px;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.112);
    width: 90%;
}
.reserve-select {
    font-weight: 500;
}

.reserve-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.reserve-title {
    font-weight: 500;
}
.reserve-desc {
    font-weight: 300;
}
.reserve-max {
    font-size: 12px;
}
.reserve-price {
    font-weight: 500;
}
.reserve-select-rooms {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 8px;
    color: var(--color-blue-light);
}
.room {
    display: flex;
    flex-direction: column;
}