.loved-properties {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.loved-properties-item {
    flex: 1;
    gap: 5px;
    display: flex;
    flex-direction: column;
    color: var(--color-blue);
    cursor: pointer;
}

.loved-properties-img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.loved-properties-name {
    font-weight: bold;
}

.loved-properties-city {
    font-weight: 300;
}

.loved-properties-price {
    font-weight: 500;
}

.loved-properties-rating>button {
    background-color: var(--color-blue-light);
    color: var(--color-beige-light);
    padding: 3px;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.loved-properties-rating>span {
    font-size: 14px;
}
