.hotel__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.hotel-wrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--color-blue);
    position: relative;
}
.hotel-img-wrapper {
    width: 33%;
}
.hotel-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}
.hotel-img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    cursor: pointer;
}
.hotel-title {
    font-size: 24px;
}
.hotel-address {
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.hotel-distance {
    font-weight: 500;
}
.hotel-price-highlight {
    color: var(--color-blue-light);
    font-weight: 500;
}
.book-now {
    position: absolute;
    top: 10px;
    right: 0;
    color: var(--color-beige-light);
    background-color: var(--color-blue);
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.112);
}
.hotel-details {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.hotel-details-text {
    flex: 3;
}
.hotel-details-price {
    flex: 1;
}
.hotel-desc {
    font-size: 14px;
    margin-top: 20px;
}
.hotel-details-price {
    flex: 1;
    background-color: var(--color-blue);
    padding: 20px;
    border-radius: 5px;
    color: var(--color-beige-light);
}
.hotel-details-price>h1 {
    font-size: 18px;
}
.hotel-details-price>span {
    font-size: 14px;
}
.hotel-details-price>h2 {
    font-weight: 300;
}
.price-nights {
    font-size: 17px;
}
.hotel-details-price>button {
    width: 100%;
    background-color: var(--color-beige-light);
    color: var(--color-blue);
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.slider {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .slider-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-img {
    width: 80%;
    object-fit: cover;
} */