.navbar {
    height: 50px;
    background-color: var(--color-beige);
    display: flex;
    justify-content: center;
}

.nav__container {
    width: 100%;
    max-width: 1024px;
    color: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 500;
}

.nav-button {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--color-blue)
}